body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.contenedor {
    border: 2px solid black;
    padding: 20px;
    width: 350px;
    border-radius: 15px;
}

#texto, #estado {
    margin: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.tarea {
    border: 1px solid #333;
    padding: 10px;
    border-radius: 15px;
    margin-top: 8px;
    width: 80px;
    
}

.estado {
    font-size: 13px;
    color: rgb(14, 13, 13);
}
.centar{
    display: flex;
    justify-content: center;
}
.agregar{
    padding: 8px;
    margin-bottom: 10px;
    background-color: rgb(127, 184, 127);

}
.lista{
    margin: 10px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
}




