*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.grid-container{
    display: grid;
    grid-template-rows: 80px 1fr 200px 60px;
    grid-template-columns: 200px 1fr;
    height: 100vh; 
    width: 90%; 
    margin: 0 auto; 
    gap: 10px;
}
.header{
    grid-column: 1 / 3;
    background-color: #3f72af;
    color: white;
}
.sidebar {
    grid-row: 2 / 4;
    grid-column: 1;
    background-color: #dbe2ef;
}
.content-top {
    grid-row: 2 / 3;
    grid-column: 2;
    background-color: #b9b4b4;
}
.grid-container {
    display: grid;
    grid-template-areas:
        "header  header"
        "sidebar content-top"
        "sidebar boxes"
        "footer  footer";
}
.footer {
    grid-column: 1 / 3;
    background-color: #3f72af;
    color: white;
}
.grid-container > * {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    font-size: 1.2em;
    font-weight: bold;
}
.sidebar ol {
    list-style: none;
    padding: 0;
}
.sidebar li {
    padding: 8px;
    margin: 5px;
    border: 1px solid #112d4e;
    border-radius: 4px;
}
.boxes-area {
    display: flex;
    gap: 15px;
}

.content-box-1, .content-box-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1; 
    background-color: #b9b4b4;
    height: 100%;
}